{
  "log": {
    "_recordingName": "malwarebytes_recordings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "34558c83b8a13c95806c772bed18d2e4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "scope=read&grant_type=client_credentials"
          },
          "queryString": [],
          "url": "https://api.malwarebytes.com/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 161,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":3599,\"scope\":\"read\",\"token_type\":\"bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 634,
      },
      {
        "_id": "740ca79ec73678db6f5d7061aa5cd5f6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "accountid",
              "value": "1ccc6346-b58e-46f5-8110-3b1612d75b18"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.malwarebytes.com/nebula/v1/groups"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1154,
            "text": "{\"groups\":[{\"id\":\"da4d080e-f9b1-4ea1-af77-3e88d5fee18d\",\"account_id\":\"1ccc6346-b58e-46f5-8110-3b1612d75b18\",\"name\":\"Default Group\",\"machines_count\":1,\"policy_id\":\"ecc70103-6c15-4daa-a3b9-5d87773c16d7\",\"policy_name\":\"Default Policy\",\"updated_at\":\"2020-11-19T09:53:24.217057Z\",\"is_default\":true,\"schedule_ids\":[],\"parent_id\":\"\",\"root_id\":\"\",\"ou_object_id\":null,\"child_group_count\":0},{\"id\":\"a8cad755-662d-4a19-a914-907d44bf564f\",\"account_id\":\"1ccc6346-b58e-46f5-8110-3b1612d75b18\",\"name\":\"Special Group\",\"machines_count\":0,\"policy_id\":\"dff8aad9-7415-4b3e-8ab3-60e032efd1d0\",\"policy_name\":\"Test Policy\",\"updated_at\":\"2020-12-03T04:25:43.090819Z\",\"is_default\":false,\"schedule_ids\":[],\"parent_id\":\"\",\"root_id\":\"\",\"ou_object_id\":null,\"child_group_count\":0},{\"id\":\"c2e92d18-ac75-47aa-bf3e-d869e5d1710e\",\"account_id\":\"1ccc6346-b58e-46f5-8110-3b1612d75b18\",\"name\":\"Test Group\",\"machines_count\":1,\"policy_id\":\"ecc70103-6c15-4daa-a3b9-5d87773c16d7\",\"policy_name\":\"Default Policy\",\"updated_at\":\"2020-11-30T18:57:02.081966Z\",\"is_default\":false,\"schedule_ids\":[],\"parent_id\":\"\",\"root_id\":\"\",\"ou_object_id\":null,\"child_group_count\":0}],\"total_count\":3,\"next_cursor\":\"\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-rate-limit-limit",
              "value": "360"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "359"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 722,
      },
      {
        "_id": "ae5a3b4f1c236a6e51b986315a78dc59",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "accountid",
              "value": "1ccc6346-b58e-46f5-8110-3b1612d75b18"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.malwarebytes.com/nebula/v1/policies/ecc70103-6c15-4daa-a3b9-5d87773c16d7"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 12379,
            "text": "{\"id\":\"ecc70103-6c15-4daa-a3b9-5d87773c16d7\",\"account_id\":\"1ccc6346-b58e-46f5-8110-3b1612d75b18\",\"etag\":\"f9bbe4590f6496a56d2fe2f81081b5ee\",\"name\":\"Default Policy\",\"expire_endpoints\":90,\"contents\":{\"policy\":{\"startup_options\":{\"timeout\":300000,\"toggle_on\":true},\"sirius_update_schedule\":\"FREQ=DAILY\",\"endpoint_interface_options\":{\"show_tray_icon\":\"true\",\"display_rtp_events\":true,\"allow_run_threat_scan\":true,\"show_windows_contextmenu\":true}},\"status\":\"ok\",\"packages\":[{\"policy\":{\"policy_version\":1,\"default_scan_settings\":{\"ark\":false,\"no_reboot\":true,\"no_archive\":false,\"reboot_delay\":60,\"pum_detection\":\"Detect\",\"pup_detection\":\"Detect\",\"scan_priority\":\"low\",\"reboot_message\":\"In order to completely quarantine the detected threat(s), your computer must be restarted.\",\"enable_shuriken\":true,\"reboot_delay_rrule\":\"FREQ=HOURLY;INTERVAL=1;COUNT=1\",\"allow_postpone_reboot\":true}},\"product_name\":\"Incident Response\",\"schema_version\":\"1.0\",\"sirius_os_packages\":[{\"operating_system\":\"windows\",\"sirius_package_name\":\"epa.win.plugin.mbir\"}],\"enabled\":false},{\"policy\":{\"policy_version\":1,\"default_scan_settings\":{\"no_reboot\":true,\"pup_detection\":\"Detect\",\"reboot_message\":\"In order to completely quarantine the detected threat(s), your computer must be restarted.\",\"reboot_delay_rrule\":\"FREQ=HOURLY;INTERVAL=1;COUNT=1\",\"allow_postpone_reboot\":true}},\"product_name\":\"Mac Incident Response\",\"schema_version\":\"1.0\",\"sirius_os_packages\":[{\"operating_system\":\"mac\",\"sirius_package_name\":\"epa.mac.plugin.mbir\"}],\"enabled\":false},{\"policy\":{\"win_ac\":\"default\",\"usage_stat\":true,\"rtp_settings\":{\"web\":{\"enabled\":true},\"exploit\":{\"enabled\":true,\"options\":{\"ah_ahs_ms\":false,\"ah_bua_ms\":true,\"ah_dep_ms\":true,\"amp_sp_ms\":true,\"java_misp\":false,\"java_mmgp\":true,\"java_mosp\":false,\"java_wmcl\":true,\"abp_mll_ms\":false,\"ah_ahs_pdf\":false,\"ah_bua_pdf\":false,\"ah_dep_pdf\":true,\"amp_mph_ms\":true,\"amp_sp_pdf\":true,\"java_mmcep\":true,\"abp_mll_pdf\":false,\"abp_pmbp_ms\":false,\"amp_depb_ms\":true,\"amp_mph_pdf\":true,\"amp_mrad_ms\":true,\"java_aijoip\":false,\"abp_pmbp_pdf\":false,\"abp_povba_ms\":true,\"abp_powmi_ms\":true,\"ah_ahs_media\":false,\"ah_ahs_other\":false,\"ah_bua_media\":false,\"ah_bua_other\":false,\"ah_dep_media\":false,\"ah_dep_other\":false,\"amp_crg32_ms\":true,\"amp_crg64_ms\":true,\"amp_depb_pdf\":true,\"amp_mrad_pdf\":true,\"amp_rrg32_ms\":false,\"amp_rrg64_ms\":false,\"amp_sp_media\":true,\"amp_sp_other\":true,\"abp_mll_media\":false,\"abp_mll_other\":false,\"ah_ahs_chrome\":false,\"ah_bua_chrome\":false,\"ah_dep_chrome\":true,\"amp_crg32_pdf\":true,\"amp_crg64_pdf\":true,\"amp_mph_media\":true,\"amp_mph_other\":false,\"amp_rrg32_pdf\":false,\"amp_rrg64_pdf\":false,\"amp_sp_chrome\":true,\"abp_mll_chrome\":false,\"abp_pmbp_media\":false,\"abp_pmbp_other\":false,\"ah_ahs_browser\":true,\"ah_bua_browser\":false,\"ah_dep_browser\":true,\"amp_depb_media\":true,\"amp_depb_other\":false,\"amp_mph_chrome\":true,\"amp_mrad_media\":true,\"amp_mrad_other\":true,\"amp_sp_browser\":true,\"abp_mll_browser\":false,\"abp_pmbp_chrome\":false,\"ah_daef_browser\":true,\"ah_dahs_browser\":true,\"ah_diev_browser\":false,\"amp_crg32_media\":true,\"amp_crg32_other\":true,\"amp_crg64_media\":true,\"amp_crg64_other\":true,\"amp_depb_chrome\":true,\"amp_mph_browser\":true,\"amp_mrad_chrome\":true,\"amp_rrg32_media\":false,\"amp_rrg32_other\":false,\"amp_rrg64_media\":false,\"amp_rrg64_other\":false,\"abp_piev_browser\":true,\"abp_pmbp_browser\":false,\"amp_crg32_chrome\":true,\"amp_crg64_chrome\":true,\"amp_depb_browser\":true,\"amp_mrad_browser\":true,\"amp_rrg32_chrome\":false,\"amp_rrg64_chrome\":false,\"amp_crg32_browser\":true,\"amp_crg64_browser\":true,\"amp_rrg32_browser\":false,\"amp_rrg64_browser\":false},\"protected\":[{\"file\":\"acrobat.exe\",\"type\":\"FamilyPdfReader\",\"default\":true,\"enabled\":true,\"application\":\"Adobe Acrobat\"},{\"file\":\"acrord32.exe\",\"type\":\"FamilyPdfReader\",\"default\":true,\"enabled\":true,\"application\":\"Adobe Reader\"},{\"file\":\"dragon.exe\",\"type\":\"FamilyWebBrowser\",\"default\":true,\"enabled\":true,\"application\":\"Comodo Dragon\"},{\"file\":\"cyberfox.exe\",\"type\":\"FamilyWebBrowser\",\"default\":true,\"enabled\":true,\"application\":\"Cyberfox\"},{\"file\":\"Foxit PhantomPDF.exe\",\"type\":\"FamilyPdfReader\",\"default\":true,\"enabled\":true,\"application\[...]
